<a href="https://colab.research.google.com/github/Leikaaasxz/ACTS-IN-ADVANCED-PREDICTIVE-ANALYTICS/blob/main/Leika_Callejo_Lab_Act.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/Leikaaasxz/Activity/main/data.csv")

In [ ]:
df.head()

,private,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777 entries, 0 to 776
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   private      777 non-null    object
 1   apps         777 non-null    int64
 2   accept       777 non-null    int64
 3   enroll       777 non-null    int64
 4   top10perc    777 non-null    int64
 5   top25perc    777 non-null    int64
 6   f_undergrad  777 non-null    int64
 7   p_undergrad  777 non-null    int64
 8   outstate     777 non-null    int64
 9   room_board   777 non-null    int64
 10  books        777 non-null    int64
 11  personal     777 non-null    int64
 12  phd          777 non-null    int64
 13  terminal     777 non-null    int64
 14  s_f_ratio    777 non-null    float64
 15  perc_alumni  777 non-null    int64
 16  expend       777 non-null    int64
 17  grad_rate    777 non-null    int64
dtypes: float64(1), int64(16), object(1)
memory usage: 109.4+ KB

In [ ]:
df['s_f_ratio']=df['s_f_ratio'].astype('float64')

In [ ]:
df['s_f_ratio'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 777 entries, 0 to 776
Series name: s_f_ratio
Non-Null Count  Dtype
--------------  -----
777 non-null    float64
dtypes: float64(1)
memory usage: 6.2 KB

In [ ]:
df['s_f_ratio'].head()

0    18.1
1    12.2
2    12.9
3     7.7
4    11.9
Name: s_f_ratio, dtype: float64

In [ ]:
df['enroll']=pd.to_numeric(df['enroll'],errors='coerce').astype('float64')

In [ ]:
df['enroll'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 777 entries, 0 to 776
Series name: enroll
Non-Null Count  Dtype
--------------  -----
777 non-null    float64
dtypes: float64(1)
memory usage: 6.2 KB

In [ ]:
df.head()

,private,apps,accept,enroll,top10perc,top25perc,f_undergrad,p_undergrad,outstate,room_board,books,personal,phd,terminal,s_f_ratio,perc_alumni,expend,grad_rate
0,NaN,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,NaN,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,NaN,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,NaN,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,NaN,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [ ]:
df['enroll']=pd.to_datetime(df['enroll'], errors = 'coerce')

In [ ]:
df['enroll'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 777 entries, 0 to 776
Series name: enroll
Non-Null Count  Dtype
--------------  -----
777 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 6.2 KB

In [ ]:
df['accept'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 777 entries, 0 to 776
Series name: accept
Non-Null Count  Dtype
--------------  -----
777 non-null    int64
dtypes: int64(1)
memory usage: 6.2 KB

In [ ]:
df['accept_enrolees'] = df['enroll'] - df['accept']

In [ ]:
df['accept_enrolees']

0      -511.0
1     -1412.0
2      -761.0
3      -212.0
4       -91.0
        ...
772    -972.0
773   -1110.0
774   -1220.0
775   -1136.0
776   -1164.0
Name: accept_enrolees, Length: 777, dtype: float64